.hero {
    height: 100vh;
    width: 100%;
    background-image: url("../../../assets/img/technical-journey/road1.gif");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}

#project-milestone-1 {
    width: 20rem;
}

#project-milestone-2 {
    width: 22rem;
}

#project-milestone-4, #project-milestone-7 {
    width: 19rem;
}

#project-milestone-5 {
    width: 26rem;
}

#project-milestone-6 {
    width: 31rem;
}

.project-milestone{
    height:15rem;
    width:auto;
    max-width: 37rem;
}

.container-1 {
    height: 260px;
    perspective: 600px;
    margin-top: 1rem;
}

.container-2 {
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.moving-clouds {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 162rem;
    height: 43.5em;
    -webkit-animation: cloudLoop 50s linear infinite;
    animation: cloudLoop 50s linear infinite;
}

.walker img {
    height: -5px;
    left: 45%;
    position: absolute;
    bottom: 10%;
    height: 10rem;
    z-index: 2;
}

.row-1 {
    position: absolute;
    /* bottom: 200px;
    left:0;
    right:0; */
    display: block;
    z-index: 5;
    background-repeat: repeat-x;
    animation: row1 30s linear infinite;
}

@keyframes row1 {
    100% {
        transform: translateZ(-50rem);
    }
}

.technical-journey-title {
    background: black;
    color: white;
    text-align: center;
    font-size: 30px;
}

.city{
    height: 250px;
    width: 700%;
    position: absolute;
    top: 1rem;
    left:0;
    right:0;
    display: block;
    z-index: 2;      
}

.cityAnimation {
    background-repeat: repeat-x; 
    animation: city 30s linear infinite;
}

.cityAnimation:hover {
    animation-play-state: paused;
}

@keyframes city {
    100%{
        transform: translateX(-3400px);
    }
}
