<!-- <waterfall-animation></waterfall-animation> -->
<div class="about-container">
<div class="section about-section">
        <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> -->
        <div class="about-header section-title col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <h2>About Me</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-2 offset-md-1">
                <img src="assets/img/about-me.jpg" class="img-circle img-responsive" alt="Rounded Image">
            </div>
            <div class="col-xs-6 col-sm-5 col-md-5 offset-md-3 about-content">
                Solution-driven professional excelling in highly collaborative work environment, finding solutions to challenges and 
                focused on customer satisfaction. Bringing 7 years of experience in developing pixel-perfect UI using JavaScript, Polymer, 
                Angular, HTML, CSS, Bootstrap, jQuery & NodeJs. Resilient, self motivated and Optimistic 
                UI developer, who is not easily affected by job stress
                <br><br>
                <button type="button" class="btn transparent-btn" (click)="downloadResume()">
                    Download Resume
                </button>
            </div>
        </div>
    </div>
</div>