<!-- <waterfall-animation></waterfall-animation> -->
<div class="section about-section">
    <div class="about-header col-md-2 offset-md-1">
        <h2>About Me</h2>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2 offset-md-1">
            <img src="assets/img/about-me.jpg" class="img-circle img-no-padding img-responsive"
                alt="Rounded Image">
        </div>
        <div class="col-xs-6 col-sm-7 col-md-7 offset-md-1 about-me">
            I am Solution-driven professional excelling in highly collaborative work environment, finding solutions to
            challenges and focused on customer satisfaction.
            6 years of experience in developing consumer-focused web sites and dashboards using JavaScript,
            Polymer, Angular, React, HTML, CSS, Bootstrap, JQuery and Node Js
            Resilient, self motivated and Optimistic UI developer, who is not easily affected by job stress
        </div>
    </div>
    <!-- <div class="moving-waterfall" style="background-image: url('assets/img/waterfall.png'); "></div> -->
    <!-- <div class="basic-waterfall" style="background-image: url('assets/img/7.gif'); "></div> -->
    <!-- <img src="assets/img/waterfall.gif" class="basic-waterfall"> -->
    <!-- <img src="assets/img/oie_trans (1).gif" class="basic-waterfall"> -->
</div>
<!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> -->