<div class="wrapper">
    <div class="page-header section-dark header-section">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <span class="subheading">Hey! I am</span>
                    <h1 class="presentation-title">Kartiki Sahu</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>                
            </div>
            <h2 class="presentation-subtitle text-center">I'm a
                <span class="txt-rotate" data-period="2000"
                    data-rotate='[ "Senior UI Developer.", "Full Stack Developer.", "Painter.", "Dancer." ]'></span>
            </h2>
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
</div>
<div class="main">
    <about-me></about-me>
    <skills></skills>
    <project-journey></project-journey>
    <app-car-animation></app-car-animation>
    
    <!-- <project-journey></project-journey> -->
</div>