<nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
    <div class="container">
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav nav ml-auto" #mainNav>
                <li class="nav-item navigator">
                    <a href="#home" class="nav-link" (click)="onClick($event)">
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item navigator">
                    <a href="#about" class="nav-link" (click)="onClick($event)">
                        <span>About</span>
                    </a>
                </li>
                <li class="nav-item navigator">
                    <a href="#skills" class="nav-link" (click)="onClick($event)">
                        <span>Skills</span>
                    </a>
                </li>
                <li class="nav-item navigator">
                    <a href="#technical-journey" class="nav-link" (click)="onClick($event)">
                        <span>Technical Journey</span>
                    </a>
                </li>
                <li class="nav-item navigator">
                    <a href="#contact-me" class="nav-link" (click)="onClick($event)">
                        <span>Contact Me</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="My LinkedIn Profile" data-placement="bottom"
                        href="https://www.linkedin.com/in/kartikisahu/" target="_blank">
                        <i class="fa fa-linkedin-square"></i>
                        <p class="d-lg-none">LinkedIn</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom"
                        href="https://github.com/kartiki-sahu" target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>