<!-- <waterfall-animation></waterfall-animation> -->
<div class="section skills-section">
    <div class="skills-header col-sm-3 col-md-3 offset-md-1">
        <h2>Skills</h2>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 offset-md-1">
            <!-- <div class="basic-waterfall" style="background-image: url('assets/img/7.gif'); "></div> -->
            <img src="assets/img/skills.gif"
                alt="skills">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 offset-md-1">
        </div>
    </div>
</div>